/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Shadows+Into+Light&display=swap'); */


body{
  height: 100vh;
  width: 100vw;
}

input{
  font-family: inherit;
  font-size: inherit;
}

button{
  border: 0;
  color: white;
  background-color: black;
}

a{
  color: black;
}
