@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Shadows+Into+Light&display=swap');


html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-family: 'Shadows Into Light', cursive;
}